<h1> Cart Page </h1>

{% form 'cart', cart %}
    {% if cart.empty? %}
        <p> Your cart is empty </p>
    {% else %}
        {% for item in cart.items %}
            <div> 
                <img src="{{ item.image| image_url : width : 100 }}">
                <h2>{{ item.title }}</h2>
                <p> {{item.final_line_price | money}} </p>
                <input name="updates[]" value="{{ item.quantity }}">
                <a href="{{ item.url_to_remove }}">Remove form cart</a>
            </div>
        {% endfor %}


        </hr>

        <p> {{cart.total_price | money}} </p>
        <button type="submit" name="update">Update</button>
        <button type="submit" name="checkout">Checkout</button>

    {% endif %}
{% endform %}